@font-face {
    font-family: 'corsiva';
    src: url('../Monotype-Corsiva-Regular.ttf') format('truetype'); 
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

*, *::before, *::after {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit;
}
nav div h1 {
    font-family: 'corsiva', cursive;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bloque1{
    background-color: #81492d;
    color:white;
}

.parte2{
    background-color: #000000;
    }

.bloque3{
    background-color: #000000;

}
.marquesina {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 10px 0;
}

.marquesina-contenido {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 60s linear infinite;
}

.marquesina img {
    height: 400px; 
    margin: 20px;
    border: 2px solid white;
    border-radius: 4%;
}

 @keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
} 
 .vercatalogo{
    border: 2px solid black;
    border-radius: 12px ;
}
.marquesina button:hover{
    background-color: #fff0f0;
}                               
nav{
    border-bottom: 2px solid black;
}

.la, .lb, .lc {
    height: 300px;
    font-family: 'Bcorsiva', sans-serif;
}

.f1-hover {
    transition: transform 0.3s ease;
  }

.f1-hover:hover {
    transform: scale(1.15); 
}


  
